@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    color-scheme: light;
    --color-base-100: #ffffff;
    --color-base-200: #f8f8f8;
    --color-base-300: #eeeeee;
    --color-base-content: #18181b;
    --color-primary: #4d179a;
    --color-primary-content: #ffffff;
    --color-primary-focus: #3a1173;
    --color-secondary: #4f46e5;
    --color-secondary-content: #ffffff;
    --color-secondary-focus: #3730a3;
    --color-accent: #0b1e59;
    --color-accent-content: #ffffff;
    --color-accent-focus: #081435;
    --color-neutral: #18181b;
    --color-neutral-content: #ffffff;
    --color-info: #00bafe;
    --color-info-content: #0b3954;
    --color-success: #00d390;
    --color-success-content: #004c39;
    --color-warning: #fcb700;
    --color-warning-content: #793205;
    --color-error: #dc2626;
    --color-error-content: #ffffff;
  }
}
